// contient le style a afficher pour le format desktop
// comme le style définit ici est chargé après le fichier de style tablet/global.scss, alors
// les règles dans ce fichier (desktop/global.scss) surcharge celles définit dans tablet/global.scss

body{
  // affiche le bandeau du profiler de symfony en vert sombre
  // je surcharge la règle '.sf-toolbarreset' définit dans 'tablet/global.scss'
  .sf-toolbarreset{
    background-color: #3c613c;
  }
}
div {
  .division{
      border:0 solid #000000;
      border-width:0 1px 0 1px;
      float:left;
      width:66%;
      height:200px;
      margin:0;
      padding:0;
    text-align: center;

    }
  }
