{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>


    </head>
    <body>

    <main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="example-wrapper">

                <h8 class="display-3">Hello,</h8>
            </div>
            <div>
                <p> Je m’appelle malika , étudiante en master 2 informatique parcours ips,
                    à la recherche d'un stage de fin d'étude en tant que developpeur Java EE.
                </p>
            </div>
        </div>

        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <h2>A propos de moi</h2>
                    <p>
                        Etudiante en Master 2 IPS, titulaire d'une licence en science de gestion et j'ai fait une reconversion en informatique,
                        en effet , j'ai un master 1 IPS
                    </p>

                </div>
                <div class="col-md-4">
                    <h2>Mes experiences</h2>
                    <p>
                        Grace à mes expériences professionnelles, j’ai pu acquérir de nombreuses compétences.
                        En effet, j’ai occupé le poste Responsable Gestionnaire Comptable pendant 4 ans.
                        Une période durant laquelle j’ai renforcé mon autonomie au travail,
                        mon sens de contact et mon esprit d’analyse.
                    </p>

                </div>
                <div class="col-md-4">
                    <h2>Mon contact</h2>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Adresse: 5 Rue Anatole france, 34000 Montpellier</li>
                            <li class="list-group-item">
                                Email
                                <a  href="malikadjebrouni" value="LinkedIn" >
                                   malika@gmail.com
                                </a>
                            </li>
                            <li class="list-group-item">
                                LinkedIn
                                <a  href="malikadjebrouni" value="LinkedIn" >
                                    MalikaDJEBROUNI
                                </a>
                            </li>

                        </ul>



                </div>
            </div>

            <hr>

        </div> <!-- /container -->

    </main>

{% endblock %}













